<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="painel">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Painel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="totem">
      <ion-icon name="print-outline"></ion-icon>
      <ion-label>Totem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guiche">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Guichê</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorios">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
